.tabulator-col-title {
    text-align: center;
}

.tabulator-cell {
    text-align: center !important;
}

.datatable .bk-slick-row:hover {
    background-color: #04282D;
}

.datatable .bk-slick-row:hover .bk-cell {
    color: #fff;
}

.title {
    font-size: var(--type-ramp-plus-1-font-size);
}
