<!DOCTYPE html>
<html>
<head>
    <title>Positions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Positions</h1>
    <table id="positions">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Platform</th>
                <th>Symbol</th>
                <th>Magic</th>
                <th>Time</th>
                <th>Broker Time</th>
                <th>Update Time</th>
                <th>Open Price</th>
                <th>Volume</th>
                <th>Swap</th>
                <th>Realized Swap</th>
                <th>Unrealized Swap</th>
                <th>Commission</th>
                <th>Realized Commission</th>
                <th>Unrealized Commission</th>
                <th>Realized Profit</th>
                <th>Reason</th>
                <th>Account Currency Exchange Rate</th>
                <th>Broker Comment</th>
                <th>Current Price</th>
                <th>Current Tick Value</th>
                <th>Unrealized Profit</th>
                <th>Profit</th>
                <th>Comment</th>
                <th>Update Sequence Number</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
    $(document).ready(function() {
        $.ajax({
            url: '/get_data/',  // URL of the Django view
            method: 'GET',
            success: function(data) {
                console.log(data); // Log the response data to the console
                var tableBody = $('#positions tbody');
                $.each(data, function(i, position) {
                    var row = $('<tr>');
                    $.each(position, function(key, value) {
                        row.append($('<td>').text(value));
                    });
                    tableBody.append(row);
                });
            }
        });
    });
    </script>
</body>
</html>
