<!DOCTYPE html>
<html>
<head>
    <title>Positions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Positions</h1>
    <table id="positions">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Platform</th>
                <!-- Add other headers here -->
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
    $(document).ready(function() {
        $.ajax({
            url: '/get_data/',  // URL of the Django view
            method: 'GET',
            success: function(data) {
                var tableBody = $('#positions tbody');
                $.each(data, function(i, position) {
                    var row = $('<tr>');
                    row.append($('<td>').text(position.id));
                    row.append($('<td>').text(position.type));
                    row.append($('<td>').text(position.platform));
                    // Append other cells here
                    tableBody.append(row);
                });
            }
        });
    });
    </script>
</body>
</html>
